.btn {
    border: 2px solid white;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    background: rgba(9, 46, 61, 1);
    color: white;
    transition: 0.3s ease-in-out;
    margin: 20px;
}

.btn:hover {
    transform: scale(1.1);
}

.btn:active {
    background-color: white;
    color: rgba(9, 46, 61, 1);
    border-color: rgba(9, 46, 61, 1);
}
